# Env/secrets files
**/*.env
*.env.*
backend/config/master.key
backend/config/credentials.yml.enc

# Heavy/useless folders
backend/tmp/
backend/log/
backend/storage/
backend/public/assets/
backend/.bundle/
backend/vendor/bundle/

frontend/node_modules/
frontend/dist/
frontend/.vite/
